{% extends "base.html" %}
{% block title %}
<style>
.box {
    display: flex;
  }

  .one {
    flex: 1;
  }

  .two {
    flex: 3;
    text-align: center;
    min-block-size: 80vmin;
    background-color: rgb(169, 209, 244);
  }

  .three {
    flex: 1;
  }
</style>
{% endblock title %}
{% block content %}
<h1 style="color:slateblue; font-family:cursive; font-size:300%; text-align: center;">{{ fictionchapter.title }}</h1>
<div class="box">
    <div class="one"></div>
    <div class="two" style="font-family:cursive; font-size:150%;">
        <br>
    <section id="chapter-body"></section>
    <script>
        window.addEventListener(
            "DOMContentLoaded", () => {
                const chapterBody = document.getElementById("chapter-body");
                console.log("{{ fictionchapter.content | escapejs }}");
                let body = JSON.parse("{{ fictionchapter.content | escapejs }}");
                let block = body.blocks;
                console.log(block.length);
                for (let i = 0; i <= block.length; i++) {
                    console.log(block[i], i);
                    switch (block[i].type) {
                        case "Header":
                            let head = document.createElement(`h${block[i].data.level}`);
                            head.textContent = block[i].data.text;
                            chapterBody.appendChild(head);
                            break;
                        case "Image":
                            let div = document.createElement("div");
                            let image = document.createElement("img");
                            let caption = document.createElement("small");
                            image.src = `${block[i].data.file.url}`;
                            image.style = "margin-top:10px;";
                            image.height = 200;
                            image.width = 200;
                            caption.textContent = block[i].data.caption;
                            caption.style = "margin-top:5px;";
                            div.appendChild(image);
                            div.appendChild(caption);
                            div.style = "width:39%;display:grid;place-items:center";
                            chapterBody.appendChild(div);
                            break;
                        case "paragraph":
                            const text = document.createElement("p");
                            text.innerHTML = block[i].data.text;
                            chapterBody.appendChild(text);
                            break;
                        default:
                            break;
                    }
                }
            }
        );
    </script>
    </div>
    <div class="three"></div>
</div>
{% endblock content %}
